* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("./image1.jpg");
    background-size: cover;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 5vw;
    align-items: center;
}

.logo {
    font-size: 40px;
    color: rgb(222, 145, 2);
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding: 0px 60px;
    font-weight: bold;
}

.search {
    border: 1px solid rgb(222, 145, 2);
    display: flex;
    gap: 0px;
    height: 40px;

}

.search input {
    background: transparent;
    font-weight: bold;
    border: 1px solid rgb(222, 145, 2);
}

#btn {
    background-color: rgb(222, 145, 2);
    border: rgb(222, 145, 2);
    color: white;
}